<% export("cbi_apply_xhr", function(id, configs, redirect, nano) -%>
<script type="text/javascript" src="/luci-static/resources/spin.js"></script>
<fieldset class="section" id="cbi-apply-<%=id%>">
	<div class="applyChanges">
	<span id="cbi-apply-<%=id%>-status"><%:Please wait...%> </span>
	<% if not nano then %>
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" />
	<% else %>
		<div class="spin_wrapper">
			<div id="foo"></div>
		</div>	
	<% end %>
	</div>
	
</fieldset>
	<script type="text/javascript">//<![CDATA[
		var apply_xhr = new XHR();

		var opts = {
			lines: 14, // The number of lines to draw
			length: 13, // The length of each line
			width: 5, // The line thickness
			radius: 17, // The radius of the inner circle
			rotate: 0, // The rotation offset
			color: '#000', // #rgb or #rrggbb
			speed: 1.7, // Rounds per second
			trail: 64, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: true, // Whether to use hardware acceleration
			className: 'spinner', // The CSS class to assign to the spinner
			zIndex: 2e9, // The z-index (defaults to 2000000000)
			top: 'auto', // Top position relative to parent in px
			left: 'auto' // Left position relative to parent in px
		};
		var target = document.getElementById('foo');

		var spinner = new Spinner(opts).spin(target);
	
		function forceTimeout() {	
			var e = document.getElementById('cbi-apply-<%=id%>-status');
			if( e )
			{
				e.innerHTML = '<%:Configuration applied.%>';
				window.setTimeout(function() {
					e.parentNode.style.display = 'none';
					<% if redirect then %>location.href='<%=redirect%>';<% end %>
				}, 1000);
			}
		}
		setTimeout(forceTimeout, 240000);
		
		apply_xhr.get('<%=luci.dispatcher.build_url("servicectl", "restart", table.concat(configs, ","))%>', null,
			function() {
				var checkfinish = function() {
					apply_xhr.get('<%=luci.dispatcher.build_url("servicectl", "status")%>', null,
						function(x) {
							if( x.responseText == 'finish' )
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e )
								{
									e.innerHTML = '<%:Configuration applied.%>';
									window.setTimeout(function() {
										e.parentNode.style.display = 'none';
										<% if redirect then %>location.href='<%=redirect%>';<% end %>
									}, 1000);
								}
							}
							else
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e && x.responseText ) e.innerHTML = x.responseText;

								window.setTimeout(checkfinish, 1000);
							}
						}
					);
				}
				window.setTimeout(checkfinish, 1000);
			}
		);
	//]]></script>
<%-	end) %>
