	<%- if pageaction then -%>
	<div class="cbi-page-actions">
		<%if wizStep then%>
			<%if wizStep == 1 then %>
				<input class="cbi-button cbi-button-reset" type="submit" name="cbi.wizard.skip" value="<%:Skip Wizard%>" />
				<input class="cbi-button cbi-button-apply" type="submit" name="cbi.wizard.next" value="<%:Next%>" />
			<%elseif wizStep == 2 then%>
				<input class="cbi-button cbi-button-apply" type="submit" name="cbi.wizard.next" value="<%:Next%>" />
				<!--<input class="cbi-button cbi-button-save" type="submit" value="Save" />-->
				<!--<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="<%:Save & Apply%>" />-->
			<%elseif wizStep == 99 then%>
				<input class="cbi-button cbi-button-save" type="submit" name="cbi.wizard.finish" value="<%:Finish%>" />
				<!--<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="<%:Save & Apply%>" />-->
			<% end %>
		<% else %>
			<% if redirect then %>
			<div style="float:left">
				<input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(redirect)%>'" />
			</div>
			<% end %>

			<% if flow.skip then %>
				<input class="cbi-button cbi-button-skip" type="submit" name="cbi.skip" value="<%:Skip%>" />
			<% end %>
			<% if not autoapply then %>
				<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="<%:Save%>" />
			<% else %>
				<input class="cbi-button cbi-button-save" type="submit" value="<%:Save%>" />
			<% end %>
			<!--<input class="cbi-button cbi-button-reset" type="reset" value="<%:Reset%>" />-->
		<% end %>
		<script type="text/javascript">cbi_d_update();</script>
	</div>
	<%- end -%>
</form>
<%+footer%>
