<div class="cbi-value<% if self.error and self.error[section] then %> cbi-value-error<% end %><% if self.last_child then %> cbi-value-last<% end %>" id="cbi-<%=self.config.."-"..section.."-"..self.option%>" <%=ifattr(self.isHidden, "style", "display:none")%>>
	<%- if self.title and #self.title > 0 then -%>
	<label class="cbi-value-title"<%= attr("for", cbid) %>>
	<%- if self.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=self.titleref%>"><%- end -%>
		<%-=self.title-%>
	<%- if self.titleref then -%></a><%- end -%>
	</label>
		<div class="cbi-value-field">
	<%- end -%>
