<%+cbi/valueheader%>

<%-
----------------------------------------------------------------------------------------------------------
-- Currently this will show only interfaces that are fit for wan (no gre, tuns or anything of the sort) --
----------------------------------------------------------------------------------------------------------
-- FIXME: Needs to be reworked to allow for better multimodule support.

	local utl = require "luci.util"
	local net = require "luci.model.network".init()
	local uci = require "luci.model.uci".cursor()
	local cbeid = luci.cbi.FEXIST_PREFIX .. self.config .. "." .. section .. "." .. self.option
	
	local customInterfaces = {
		{moulage=true, ifcName="eth0.2", genName="DSL/Sat", type="vlan"}, 
		{moulage=true, ifcName="wlan0", genName="Wireless LAN", type="wifi"}, 
		{moulage=true, ifcName="usb0", genName="GPRS/UMTS", type="3G"}, 
		{moulage=true, ifcName="3g-ppp", genName="GPRS/UMTS", type="3G"}, 
		{moulage=true, ifcName="eth1", genName="WiMAX", type="WiMAX"},
		{moulage=true, ifcName="wm0", genName="WiMAX", type="WiMAX"}
	}
	
	local function getCustomInterfaceByName(_ifcName)
		for _, i in ipairs (customInterfaces) do
			if _ifcName == i.ifcName then
				return i
			end
		end
		return false
	end
	
	local iface
	local ifaces = net:get_interfaces()
	local value
	local approvedList = {"eth0.2", "wlan0"}
	local insertedModule = uci:get("system", "module", "type")
	local moduleInterface = uci:get( "system", "module", "iface" )
	
	if insertedModule == "3g" then
		approvedList[#approvedList+1] = "usb0"
	elseif insertedModule == "wimax" then
		approvedList[#approvedList+1] = moduleInterface or "eth1"
	elseif insertedModule == "3g_ppp" then
		approvedList[#approvedList+1] = "3g-ppp"
	end
	
	local function checkApprovability(ifaceName)
		for _, i in ipairs(approvedList) do
			if i == ifaceName then
				return true
			end
		end
		return false
	end 
	
	local moulageCheck = { }
	for _, i in ipairs(approvedList) do
		moulageCheck[i] = true
	end
	
	for _, iface in ipairs(ifaces) do
		if checkApprovability(iface:name()) then
			moulageCheck[iface:name()] = false
		end
	end
	
	for k, v in pairs(moulageCheck) do
		if v and checkApprovability(k) then						-- checkApprovability(k) might not be neccessary, included due to not being completely sure what lies within moulageCheck 
			ifaces[#ifaces+1] = getCustomInterfaceByName(k)
		end
	end
	
	--[[local function logPrint(printValue, indent)
		if type(printValue) == "string" then
			luci.sys.call("echo \"" .. indent .. "printValue: [" .. printValue .. "]\" >> /tmp/log.log")
			return
		elseif type(printValue) == "table" then
			for k, v in pairs(printValue) do
				if type(v) == "string" then
					luci.sys.call("echo \"" .. indent .. " key: [" .. k .. "]; v: [" .. v .. "]\" >> /tmp/log.log")
				elseif type(v) == "table" then
					luci.sys.call("echo \"" .. indent .. " key: [" .. k .. "]; v:\" >> /tmp/log.log")
					logPrint(v, indent .. "  ")
				end
			end
			return
		end
	end]]
		
	if self.map:formvalue(cbeid) == "1" then
		value = self:formvalue(section) or self.default or ""
	else
		value = self:cfgvalue(section) or self.default
	end

	local checked = { }

	if self.forceNetworkSelection then
		checked[self.forceNetworkSelection] = true
	elseif value then
		for value in utl.imatch(value) do
			checked[value] = true
		end
	else
		local n = self.network and net:get_network(self.network)
		if n then
			local i
			for _, i in ipairs(n:get_interfaces() or { n:get_interface() }) do
				checked[i:name()] = true
			end
		end
	end

if self.onClickReload then %>

<script type="text/javascript">	
	
	window.onload = function(){
		var radio_id = document.getElementById("cbid.network.wan.ifname.3g-ppp")
		var hidden_id = document.getElementById("cbi-network-wan-proto") 
		if (radio_id.checked) {
			if (hidden_id)
				hidden_id.style.display = "none";
		}	
	};
	
	function modeSwitch(interfaceName) {
		var protoArg = "";
		if (interfaceName == "wm0" || interfaceName == "eth1" || interfaceName == "usb0") {
			protoArg = "&prot=dhcp";
		}
		if (interfaceName == "3g-ppp") {
			protoArg = "&prot=none";
		}
		window.location = "<%=luci.dispatcher.build_url("admin/network/wan")%>" + "?if=" + interfaceName + protoArg;
	}
</script>

<% end -%>

<input type="hidden" name="<%=cbeid%>" value="1" />
<ul style="margin:0; list-style-type:none">
	<% for _, iface in ipairs(ifaces) do
		if iface.moulage == true or checkApprovability(iface:name()) == true then
			local link
			local ifcName
			local ifcType_i18n
			local ifcType
			local ifcIsUp
			local i18n
			if iface.moulage == true then
				link = "nil"
				ifcName = iface.ifcName
				ifcType_i18n = iface.genName
				ifcType = iface.type
				ifcIsUp = false 		-- since the interface we are moulaging, is not in the interface list it is most propably disabled
				i18n = iface.genName
			else
				link = iface:adminlink()
				ifcName = iface:name()
				ifcType_i18n = getCustomInterfaceByName(ifcName).genName
				ifcType = getCustomInterfaceByName(ifcName).type
				ifcIsUp = iface:is_up()
				i18n = getCustomInterfaceByName(ifcName).genName
			end %>
		<li>
			<input class="cbi-input-<%=self.widget or "radio"%>" onclick="cbi_d_update(this.id)" onchange="cbi_d_update(this.id)
			<% if self.onClickReload then %>
			; modeSwitch('<%=ifcName%>')
			<% end %>"
			<%=
				attr("type", self.widget or "radio") ..
				attr("id", cbid .. "." .. ifcName) ..
				attr("name", cbid) .. attr("value", ifcName) ..
				ifattr(checked[ifcName], "checked", "checked")
			%> /> &#160;
			<label<%=attr("for", cbid .. "." .. ifcName)%>>
				<img title="<%=ifcType_i18n%>" style="width:16px; height:16px; vertical-align:middle" src="<%=resource%>/icons/<%=ifcType%><%=ifcIsUp and "" or "_disabled"%>.png" />
 				<%=pcdata(i18n)%>
			</label>
		</li>
	<% 	end
	end %>
	<% if not self.nocreate then %>
	<li>
		<input class="cbi-input-<%=self.widget or "radio"%>" onclick="cbi_d_update(this.id)" onchange="cbi_d_update(this.id)"<%=
			attr("type", self.widget or "radio") ..
			attr("id", cbid .. "_custom") ..
			attr("name", cbid) ..
			attr("value", " ")
		%> /> &#160;
		<label<%=attr("for", cbid .. "_custom")%>>
			<img title="<%:Custom Interface%>" style="width:16px; height:16px; vertical-align:middle" src="<%=resource%>/icons/ethernet_disabled.png" />
			<%:Custom Interface%>:
		</label>
		<input type="text" style="width:50px" onfocus="document.getElementById('<%=cbid%>_custom').checked=true" onblur="var x=document.getElementById('<%=cbid%>_custom'); x.value=this.value; x.checked=true" />
	</li>
	<% end %>
</ul>

<%+cbi/valuefooter%>