<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
	<% if self.title and #self.title > 0 then -%>
		<legend><%=self.title%></legend>
	<%- end %>
	<div class="cbi-section-descr"><%=self.description%></div>
	<% local isempty = true for i, k in ipairs(self:cfgsections()) do -%>

		<%- section = k; isempty = false -%>

		<%+cbi/tabmenu%>

		<fieldset class="cbi-section-node<% if self.tabs then %> cbi-section-node-tabbed<% end %>" id="cbi-<%=self.config%>-<%=section%>">
			<% if self.anonymous == false and self.fsnp and self.fsnp == true then -%>
				<legend><%=section%></legend>
			<%- end %>
			<%+cbi/ucisection%>
		</fieldset>
		<% if self.addremove then -%>
			<div class="cbi-section-remove left">
				<input type="submit" name="cbi.rts.<%=self.config%>.<%=k%>" onclick="this.form.cbi_state='del-section'; return true" value="<%:Delete%>" class="cbi-button" />
			</div>
		<%- end %>

		<br />
		<br />
	<%- end %>

	<% if isempty then -%>
		<em><%:This section contains no values yet%><br /><br /></em>
	<%- end %>

	<% if self.addremove then -%>
		<% if self.template_addremove then include(self.template_addremove) else -%>
		<div class="cbi-section-create">
			<% if self.anonymous then -%>
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
			<%- else -%>
				<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
				<input type="text" class="cbi-section-create-name" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" />
				<script type="text/javascript">cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');</script>
				<input type="submit" class="cbi-button cbi-button-add" onclick="this.form.cbi_state='add-section'; return true" value="<%:Add%>" />
				<% if self.invalid_cts then -%>
					<br /><%:Invalid%></div>
				<%- end %>
			<%- end %>
		</div>
		<%- end %>
	<%- end %>
</fieldset>
