/*!
 * LuCI Bootstrap Theme
 * Copyright 2012 Nut & Bolt
 * By David Menting <david@nut-bolt.nl>
 * Based on Bootstrap v1.4.0
 *
 * Copyright 2011 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, code, del, em, img, q, s,
small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset,
form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
}

abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/*
 * Scaffolding
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */
body {
	background-color: #c6c6c7; /* changed by HDA */
	margin: 0;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 75%;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	padding-top: 102px; /* changed by DAN */
}

.container {
	clear: both;
	width: 100%;
	height:100%;
}
#logoImage {
	background-color: #ffffff;
	clear: both;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	height:100%;
}
#maincontent {
	background-color: #fff; /* changed by HDA */
	clear: both;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	height:100%;
	padding: 5px 10px 5px 10px;
	border: 1px solid #d5d5d5;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	display: block;
	position: relative;
}
.applyChanges {
	text-align: right;
}

.logo {
	display: block;
	position: absolute;
	padding: 14px 26px;
	z-index: 2;
}
.container:before, .container:after {
	display: table;
	content: "";
	zoom: 1;
}

.container:after {
	clear: both;
}

a {
	color: #4078a9;
	text-decoration: none;
	line-height: inherit;
	font-weight: inherit;
}
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

/* Typography.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
p,
.cbi-map-descr {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	border-bottom: 1px dashed #d5d5d5;
	padding-bottom: 6px;
	margin-bottom: 16px;
	margin-top: 10px;
}
.cbi-section-descr {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	border-bottom: 1px solid #d5d5d5;
}
p small {
	font-size: 11px;
	color: #bfbfbf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #404040;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	color: #bfbfbf;
}

h1 {
	margin-bottom: 18px;
	font-size: 30px;
	line-height: 18px;
}

h1 small {
	font-size: 18px;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 6px;
	padding-top: 6px;
}

h2 small {
	font-size: 14px;
}

h3,
h4,
h5,
h6 {
	line-height: 18px;
}

h3 {
	font-size: 15px;
}

h3 small {
	font-size: 14px;
}

h4 {
	font-size: 13px;
}

h4 small {
	font-size: 12px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
	color: #bfbfbf;
	text-transform: uppercase;
}

ul, ol {
	margin: 0 0 14px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	line-height: 14px;
	color: #808080;
}

ul.unstyled {
	list-style: none;
	margin-left: 0;
}

dl {
	margin-bottom: 14px;
}

dl dt, dl dd {
	line-height: 14px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 9px;
}

hr {
	margin: 20px 0 19px;
	border: 0;
	border-bottom: 1px solid #eee;
}

strong {
	font-style: inherit;
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: inherit;
	line-height: inherit;
}

small { font-size: 0.9em }

address {
	display: block;
	line-height: 14px;
	margin-bottom: 18px;
}

code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}

pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
form {
	margin-bottom: 18px;
	
}

fieldset {
	margin-bottom: 1px;
	padding-top: 9px;
	padding-bottom: 1px;
}

fieldset legend {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 0.8;
	color: #404040;
	
	padding-top: 15px;
	*padding: 0 0 5px 0px;
	/* IE6-7 */

	*line-height: 1.5;
	/* IE6-7 */

}


form .clearfix,
form .cbi-value {
	margin-bottom: 2px;
	zoom: 1;
	overflow: hidden;
}

form .clearfix:before, form .clearfix:after,
form .cbi-value:before, form .cbi-value:after  {
	display: table;
	content: "";
	zoom: 1;
}

form .clearfix:after
form .cbi-value:after {
	clear: both;
}

label,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
}

form .input,
form .cbi-value-field {
	margin-left: 187px;
}

form .cbi-value label.cbi-value-title {
	padding-top: 6px;
	font-size: 13px;
	line-height: 18px;
	float: left;
	width: 180px;
	text-align: right;
	color: #404040;
	padding-right: 7;
}

input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

input,
textarea,
select,
.uneditable-input {
	display: inline-block;
	width: 210px;
	height: 18px;
	padding: 1px;
	font-size: 13px;
	line-height: 18px;
	color: #404040;
	margin-top: 3px;
	margin-bottom: 2px;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

select {
	width: 214px;
	padding: initial;
	
}

input[type=checkbox], input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	background-color: #ffffff;
	*margin-top: 0;
	/* IE6-7 */
	
	line-height: normal;
	border: none;
}

input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type=button], input[type=reset], input[type=submit] {
	width: auto;
	height: auto;
}

select, input[type=file] {
	height: 20px;
	*height: auto;
	line-height: 20px;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
}

select[multiple] {
	height: inherit;
	background-color: #ffffff;
}

textarea {
	height: auto;
}

.uneditable-input {
	background-color: #ffffff;
	display: block;
	border-color: #eee;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	cursor: not-allowed;
}

:-moz-placeholder {
	color: #bfbfbf;
}

::-webkit-input-placeholder {
	color: #bfbfbf;
}

input, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
	outline: 1px dotted #666;
}

form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
	color: #b94a48;
}

form .clearfix.error input, form .clearfix.error textarea {
	color: #b94a48;
	border-color: #ee5f5b;
}

form .clearfix.error input:focus, form .clearfix.error textarea:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
	color: #b94a48;
	background-color: #fce6e6;
	border-color: #b94a48;
}

form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
	color: #c09853;
}

form .clearfix.warning input, form .clearfix.warning textarea {
	color: #c09853;
	border-color: #ccae64;
}

form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
	border-color: #be9a3f;
	-webkit-box-shadow: 0 0 6px #e5d6b1;
	-moz-box-shadow: 0 0 6px #e5d6b1;
	box-shadow: 0 0 6px #e5d6b1;
}

form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
	color: #c09853;
	background-color: #d2b877;
	border-color: #c09853;
}

form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
	color: #468847;
}

form .clearfix.success input, form .clearfix.success textarea {
	color: #468847;
	border-color: #57a957;
}

form .clearfix.success input:focus, form .clearfix.success textarea:focus {
	border-color: #458845;
	-webkit-box-shadow: 0 0 6px #9acc9a;
	-moz-box-shadow: 0 0 6px #9acc9a;
	box-shadow: 0 0 6px #9acc9a;
}

form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
	color: #468847;
	background-color: #bcddbc;
	border-color: #468847;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	border-color: #ddd;
}
.overlayParent {
	width: 100px; 
	height: 40px; 
	position: relative;
}
.overlayLegend {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 0.8;
	color: #404040;
	
	padding-top: 15px;
	*padding: 0 0 5px 0px;
	/* IE6-7 */

	*line-height: 1.5;
	/* IE6-7 */
	/* fix */
	width: 150px; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0;
}

.actions,
.cbi-page-actions {
	margin-bottom: 5px;
	padding: 0px 20px 5px 150px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	text-align: right;
}

.actions .secondary-action,
.cbi-page-actions .secondary-action{
	float: right;
}

.actions .secondary-action a,
.cbi-page-actions .secondary-action a {
	line-height: 30px;
}

.actions .secondary-action a:hover,
.cbi-page-actions .secondary-action a:hover {
	text-decoration: underline;
}

.help-inline, .help-block {
	font-size: 13px;
	line-height: 18px;
	color: #bfbfbf;
}

.help-inline {
	padding-left: 5px;
	*position: relative;
	/* IE6-7 */

	*top: -5px;
	/* IE6-7 */

}

.help-block {
	display: block;
	max-width: 600px;
}

/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
	width: 100%;
	margin-bottom: 9px;
	padding: 3px;
	background: white;
	font-size: 13px;
	border-collapse: collapse;
	border-radius: 3px;
	border: 1px solid #d5d5d5; 
}

table th, table td {
	padding: 5px 5px 0px;
	line-height: 18px;
	
	text-align: left;
}

table th {
	padding-top: 3px;
	font-weight: bold;
	vertical-align: middle;
}

table td {
	vertical-align: top;
}

table tbody th {
	border-radius: 6px;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

/* Patterns.less
 * Repeatable UI elements outside the base styles provided from the scaffolding
 * ---------------------------------------------------------------------------- */
header {
	font-family: Arial,Helvetica,Verdana,sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	color: #ffffff;
  height: 90px;
  padding-top: 10px;
	background-color: #C6C6C7;
	background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#EBF2F8), to(#C6C6C7));  
	background-image: -moz-linear-gradient(top , #EBF2F8, #C6C6C7); /* Firefox */
	background-image: -ms-linear-gradient(top, #EBF2F8, #C6C6C7); /* IE10 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBF2F8), color-stop(100%, #C6C6C7));
	background-image: -webkit-linear-gradient(top , #EBF2F8, #C6C6C7); /* Safari, Chrome */
	background-image: -o-linear-gradient(#EBF2F8, #C6C6C7); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBF2F8', endColorstr='#C6C6C7');/*For IE7-8-9*/
	background-image: linear-gradient(#EBF2F8, #C6C6C7); /* W3C Standard */	
	zoom: 1;
}

header a {
	color: #535B68;
	font-weight: bold;
}

header h3 a:hover, header .brand:hover, header ul .active > a {
	background-color: #333;
	background-color: rgba(255, 255, 255, 0.05);
	color: #ffffff;
	text-decoration: none;
}

header h3 {
	position: relative;
}

header h3 a, header .brand {
	float: left;
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
}

header p {
	margin: 0;
	line-height: 40px;
}

header .fill {
  display: block;
	width: 952px;
  height: 80px;
  border-top: 10px solid #4187BB;
  border-radius: 10px 10px 0 0;
	margin: auto;
	background-color: #4078a9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#4187BB), to(#4078a9));
	background-image: -moz-linear-gradient(top, #4187BB, #4078a9);
	background-image: -ms-linear-gradient(top, #4187BB, #4078a9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4187BB), color-stop(100%, #4078a9));
	background-image: -webkit-linear-gradient(top, #4187BB, #4078a9);
	background-image: -o-linear-gradient(top, #4187BB, #04078a9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4187BB', endColorstr='#4078a9');
	background-image: linear-gradient(top, #4187BB, #4078a9);
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

header div > ul, .nav {
	display: block;
	position: fixed;
  top: 76px;	
  margin: 0px;
  height: 26px;
  width: 850px;
  padding-left: 102px;
  background-repeat: x-repeat;
  background-position: top left;
  background-image: url("../resources/nav_bg.gif");
}

header div > ul > li:last-child a {
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 1px;
}

header div > ul > li.direct-nav-logout a {
	background-image: url("../resources/logout.png");
	background-repeat: no-repeat;
  background-position: right center;
  padding-right: 36px;
}

header div > ul > li.direct-nav-expert_mode, .nav > li.direct-nav-expert_mode {
  float: right !important;
  padding: 0px 10px;
  margin-right: 26px;
}

header div > ul > li.act{
  background-repeat: repeat-x;
  background-position: left center;
  background-image: url("../resources/nav_bg_act.gif");
}

header div > ul > li.act > a{
  color: #ffffff;
}

header div > ul > li:hover {
  background: #ffffff;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

header div > ul > li, .nav > li {
	display: block;
	float: left;
}

header div > ul a, .nav a {
	display: block;
	padding: 0px 10px;
	line-height: 26px;
	text-decoration: none;
}

header div > ul a:hover, .nav a:hover {
	color: #4187BB;
	text-decoration: none;
}

header div > ul .active > a, .nav .active > a {
	background-color: #ffffff;
}

header div > ul.secondary-nav, .nav.secondary-nav {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

header div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown,
header div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .dropdown-menu {
	right: 0;
	border: 0;
}

header div > ul a.menu:hover,
.nav a.menu:hover,
header div > ul li.open .menu,
.nav li.open .menu,
header div > ul .dropdown-toggle:hover,
.nav .dropdown-toggle:hover,
header div > ul .dropdown.open .dropdown-toggle,
.nav .dropdown.open .dropdown-toggle {
	background: #ffffff;
}

header div > ul .menu-dropdown,
.nav .menu-dropdown,
header div > ul .dropdown-menu,
.nav .dropdown-menu {
	background-color: #ffffff;
}

header div > ul .menu-dropdown a.menu,
.nav .menu-dropdown a.menu,
header div > ul .dropdown-menu a.menu,
.nav .dropdown-menu a.menu,
header div > ul .menu-dropdown .dropdown-toggle,
.nav .menu-dropdown .dropdown-toggle,
header div > ul .dropdown-menu .dropdown-toggle,
.nav .dropdown-menu .dropdown-toggle {
	color: #ffffff;
}

header div > ul .menu-dropdown a.menu.open,
.nav .menu-dropdown a.menu.open,
header div > ul .dropdown-menu a.menu.open,
.nav .dropdown-menu a.menu.open,
header div > ul .menu-dropdown .dropdown-toggle.open,
.nav .menu-dropdown .dropdown-toggle.open,
header div > ul .dropdown-menu .dropdown-toggle.open,
.nav .dropdown-menu .dropdown-toggle.open {
	background: #ffffff;
}

header div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
header div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
	color: #000000;
}

header div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
header div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
	background: #ffffff;
}

header div > ul .menu-dropdown .active a,
.nav .menu-dropdown .active a,
header div > ul .dropdown-menu .active a,
.nav .dropdown-menu .active a {
	color: #000000;
}

header div > ul .menu-dropdown .divider,
.nav .menu-dropdown .divider,
header div > ul .dropdown-menu .divider,
.nav .dropdown-menu .divider {
	background-color: #ffffff;
}

header ul .menu-dropdown li a, header ul .dropdown-menu li a {
	padding: 4px 15px;
}

li.act:hover a.menu {
  color: #535B68;
}

li.menu, .dropdown {
	position: relative;
}

a.menu:after, .dropdown-toggle:after {
	width: 0;
	height: 0;
	display: inline-block;
	content: "&darr;";
	text-indent: -99999px;
	vertical-align: middle;
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #ffffff;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.menu-dropdown, .dropdown-menu {
	background-color: #ffffff;
	float: left;
	display: none;
	position: absolute;
	z-index: 900;
	min-width: 160px;
	max-width: 220px;
	_width: 160px;
	margin-left: -1px;
	margin-right: 0;
	padding: 6px 0;
	zoom: 1;
	border-color: #999;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 0 1px 1px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.menu-dropdown li, .dropdown-menu li {
	float: none;
	display: block;
	background-color: none;
}

.menu-dropdown .divider, .dropdown-menu .divider {
	height: 1px;
	margin: 5px 0;
	overflow: hidden;
	background-color: #eee;
	border-bottom: 1px solid #ffffff;
}

header .dropdown-menu a, .dropdown-menu a {
	display: block;
	padding: 4px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #808080;
	text-shadow: 0 1px 0 #ffffff;
}

header .dropdown-menu a:hover,
.dropdown-menu a:hover,
header .dropdown-menu a.hover,
.dropdown-menu a.hover {
	background-color: #dddddd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	background-image: linear-gradient(top, #eeeeee, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	color: #4187BB;
	text-decoration: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
}

.open .menu,
.dropdown.open .menu,
.open .dropdown-toggle,
.dropdown.open .dropdown-toggle {
	color: #ffffff;
	background: #ccc;
	background: rgba(0, 0, 0, 0.3);
}

.open .menu-dropdown,
.dropdown.open .menu-dropdown,
.open .dropdown-menu,
.dropdown.open .dropdown-menu {
	display: block;
}

.dropdown:hover ul.dropdown-menu {
	display: block;
}

.dropdown-menu .dropdown-menu {
	  position: absolute;
	  left: 159px;
}

.dropdown-menu li {
	  position: relative;
}

.tabs, .cbi-tabmenu {
	margin: 0 0 18px;
	padding: 0;
	list-style: none;
	zoom: 1;
}

.tabs:before,
.cbi-tabmenu:before,
.tabs:after,
.cbi-tabmenu:after {
	display: table;
	content: "";
	zoom: 1;
}

.tabs:after, .cbi-tabmenu:after {
	clear: both;
}

.tabs > li, .cbi-tabmenu > li {
	float: left;
}

.tabs > li > a, .cbi-tabmenu > li > a {
	display: block;
}

.tabs,
.cbi-tabmenu {
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px;
}

.tabs > li,
.cbi-tabmenu > li {
	position: relative;
	margin-bottom: -1px;
}

.tabs > li > a,
.cbi-tabmenu > li > a {
	padding: 0px 15px;
	margin-right: 2px;
	line-height: 25px;
	border: 1px solid #DDD;
	background-color: #FFF;
/* 	-webkit-border-radius: 4px 4px 0 0; */
/* 	-moz-border-radius: 4px 4px 0 0; */
/* 	border-radius: 4px 4px 0 0; */
}

.tabs > li > a:hover,
.cbi-tabmenu > li > a:hover {
	text-decoration: none;
	background-color: #d0e1ef;
	
}

.tabs .active > a, .tabs .active > a:hover,
.cbi-tabmenu .active > a, .cbi-tabmenu .active > a:hover,
.cbi-tab > a:link, .cbi-tab > a:hover {
	background-color: #d0e1ef;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}

.tabs .menu-dropdown, .tabs .dropdown-menu,
.cbi-tabmenu .menu-dropdown, .cbi-tabmenu .dropdown-menu {
	top: 35px;
	border-width: 1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.tabs a.menu:after, .tabs .dropdown-toggle:after,
.cbi-tabmenu a.menu:after, .cbi-tabmenu .dropdown-toggle:after {
	border-top-color: #999;
	margin-top: 15px;
	margin-left: 5px;
}

.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle,
.cbi-tabmenu li.open.menu .menu, .cbi-tabmenu .open.dropdown .dropdown-toggle {
	border-color: #999;
}

.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after,
.cbi-tabmenu li.open a.menu:after, .cbi-tabmenu .dropdown.open .dropdown-toggle:after {
	border-top-color: #555;
}

.tab-content > .tab-pane,
.tab-content > div {
	display: none;
}

.tab-content > .active {
	display: block;
}

.breadcrumb {
	padding: 7px 14px;
	margin: 0 0 18px;
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.breadcrumb li {
	display: inline;
	text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb .divider {
	padding: 0 5px;
	color: #bfbfbf;
}

.breadcrumb .active a {
	color: #404040;
}

footer {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #eee;
}

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
	color: #ffffff;
}

.btn .close, .alert-message .close {
	font-family: Arial, sans-serif;
	line-height: 18px;
}

.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee8f8b), to(#e45c55));
	background-image: -moz-linear-gradient(top, #ee8f8b, #e45c55);
	background-image: -ms-linear-gradient(top, #ee8f8b, #e45c55);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee8f8b, #e45c55);
	background-image: -o-linear-gradient(top, #ee8f8b, #e45c55);
	background-image: linear-gradient(top, #ee8f8b, #e45c55);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee8f8b', endColorstr='#e45c55', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #ee8f8b #ee8f8b, #e45c55);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.errorbox {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
	background-color: #57a957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57a957 #57a957 #3d773d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.info, .alert-message.info {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn,
.cbi-button {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 1px 3px 2px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.cbi-button:hover {
	color: #333;
	text-decoration: none;
}

.btn:focus,
.cbi-button:focus {
	outline: 1px dotted #666;
}

.btn.primary,
.cbi-page-actions .cbi-button-apply,
.cbi-page-actions .cbi-button-save {
	color: #ffffff;
	background-color: #404040;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#808080), to(#404040));
	background-image: -moz-linear-gradient(top, #808080, #404040);
	background-image: -ms-linear-gradient(top, #808080, #404040);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #404040));
	background-image: -webkit-linear-gradient(top, #808080, #404040);
	background-image: -o-linear-gradient(top, #808080, #404040);
	background-image: linear-gradient(top, #808080, #404040);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#404040', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.cbi-button-up {
	background-position: center center;
	background-image: url('../resources/cbi/up.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/up.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
}

.cbi-button-down {
	background-position: center center;
	background-image: url('../resources/cbi/down.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/down.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
}

.btn.active, .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled {
	cursor: default;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=65);
	-khtml-opacity: 0.65;
	-moz-opacity: 0.65;
	opacity: 0.65;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn[disabled] {
	cursor: default;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=65);
	-khtml-opacity: 0.65;
	-moz-opacity: 0.65;
	opacity: 0.65;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn.large {
	font-size: 15px;
	line-height: normal;
	padding: 9px 14px 9px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn.small {
	padding: 7px 9px 7px;
	font-size: 11px;
}
.cbi-input-invalid:focus, .cbi-input-invalid:active, .cbi-input-invalid:hover {
	border-color: #FA8072;
	background-color: #FFFFFF;
	color: #CA5042;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 168, 82, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 168, 82, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 168, 82, 0.6);
}
.cbi-input-invalid {
	background-color: #FFB5B2;
	border-color: #FA8072;
}
/* Button icons for specific pages */
.Startup .cbi-section-table input.cbi-input-apply,
.Startup .cbi-section-table input.cbi-button-apply {
	  background-image: url("../resources/cbi/apply.gif");
	  background-position: 7px 4px;
	  padding: 3px 9px 3px 27px;
}

.Processes .cbi-section-table input.cbi-input-reload,
.Startup .cbi-section-table input.cbi-input-reload {
	  background-image: url("../resources/cbi/reload.gif");
	  background-position: 7px 4px;
	  padding: 3px 9px 3px 27px;
}

.Processes .cbi-section-table input.cbi-input-remove,
.Processes .cbi-section-table div.cbi-section-remove input,
.Startup .cbi-section-table input.cbi-input-remove,
.Startup .cbi-section-table div.cbi-section-remove input  {
	  background-image: url("../resources/cbi/remove.gif");
	  background-position: 7px 4px;
	  padding: 3px 9px 3px 27px;
}
.cbi-section-remove {
	  padding-bottom: 5px;
	  border-bottom: 1px solid #d5d5d5;
}
.Processes .cbi-section-table input.cbi-input-reset,
.Processes .cbi-section-table input.cbi-button-reset,
.Startup .cbi-section-table input.cbi-input-reset,
.Startup .cbi-section-table input.cbi-button-reset  {
	  background-image: url("../resources/cbi/reset.gif");
	  background-position: 7px 4px;
	  padding: 3px 9px 3px 27px;
}

.Startup .cbi-section-table input.cbi-input-save,
.Startup .cbi-section-table input.cbi-button-save {
	  background-image: url("../resources/cbi/save.gif");
	  background-position: 7px 4px;
	  padding: 3px 9px 3px 27px;
}

:root .alert-message, :root .btn {
	border-radius: 0 \0;
}

button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.close {
	float: right;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	line-height: 13.5px;
	text-shadow: 0 1px 0 #ffffff;
	filter: alpha(opacity=25);
	-khtml-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity: 0.25;
}

.close:hover {
	color: #000000;
	text-decoration: none;
	filter: alpha(opacity=40);
	-khtml-opacity: 0.4;
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.alert-message {
	position: relative;
	padding: 3px 5px;
	margin-bottom: 6px;
	color: #404040;
	border: 1px solid;
}

.alert-message .close {
	margin-top: 1px;
	*margin-top: 0;
}

.alert-message a {
	font-weight: bold;
	color: #404040;
}

.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a {
	color: #ffffff;
}

.alert-message h5 {
	line-height: 18px;
}

.alert-message p {
	margin-bottom: 0;
}

.alert-message div {
	margin-top: 5px;
	margin-bottom: 2px;
	line-height: 28px;
}

.alert-message .btn {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: #ffffff !important;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #bfbfbf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: none;
}

a.label:link,
a.label:visited {
	color: #ffffff;
}

a.label:hover {
	text-decoration: none;
}

.label.important {
	background-color: #ae544f;
}

.label.warning {
	background-color: #dbab67;
}

.label.success {
	background-color: #80bd80;
}

.label.notice {
	background-color: #94c3d6;
}

/* LuCI specific items */
.hidden { display: none }

#memtotal > div,
#memfree > div,
#memcache > div,
#membuff > div,
#conns > div  {
	  border: 1px solid #CCCCCC;
	  border-radius: 3px 3px 3px 3px;
	  color: #808080;
	  display: inline-block;
	  font-size: 13px;
	  height: 22 dpx;
	  line-height: 18px;
}

#xhr_poll_status {
	  cursor: pointer;
}

form.inline { display: inline }

header .pull-right { padding-top: 8px; }

#modemenu li:last-child span.divider { display: none }

#syslog {  width: 100%; }

.cbi-section-table tbody tr:nth-child(odd) td, .cbi-section-table tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

.cbi-section-table tbody tr:hover td, .cbi-section-table tbody tr:hover th  {
	background-color: #f5f5f5;
}

.cbi-section-table tr.cbi-section-table-descr th {
	font-weight: normal;
}

.left { text-align: left !important; }

.right { text-align: right !important; }

.cbi-value-field { line-height: 1.5em; }

.cbi-value-field input[type=checkbox],
.cbi-value-field input[type=radio] {
	margin-top: 8px;
	margin-right: 6px;
	background-color: white;
}

table table td,
.cbi-value-field table td {
	border: none;
}

table.cbi-section-table input,
table.cbi-section-table textarea,
table.cbi-section-table select {
	width: auto;
}

table.cbi-section-table td.cbi-section-table-cell {
	white-space: nowrap;
	text-align: right;
}

.cbi-value-description { display: inline; }

.cbi-value-description img { vertical-align: middle; }
.cbi-input-image {
	width: 15px;
	height: 15px;
}
.ifacebox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0 10px;
	text-align: center;
	white-space: nowrap;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ifacebox .ifacebox-head {
	border-bottom: 1px solid #CCCCCC;
	padding: 2px;
}

.ifacebox .ifacebox-body {
	padding: 6px;
}

.ifacebadge {
	display: inline-block;
	white-space: nowrap;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-left: 2px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ifacebadge-active {
	border-color: #000000;
	font-weight: bold;
}

.zonebadge {
	padding: 2px;
	border-radius: 4px;
	display: inline-block;
	white-space: nowrap;
	color: #666666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

.zonebadge em,
.zonebadge strong {
	margin: 5px;
	display: inline-block;
}

.zonebadge input {
	width: 6em;
	height: 1em;
}

.zonebadge-empty {
	border: 1px dashed #AAAAAA;
	color: #AAAAAA;
	font-style: italic;
	font-size: smaller;
}

div.cbi-value var,
td.cbi-value-field var {
	font-style: italic;
	color: #0069D6;
}

.uci-change-list {
	font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
	text-decoration: none;
	border: 1px solid #00FF00;
	background-color: #CCFFCC;
	display: block;
	padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
	text-decoration: none;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
	/*display: inline;*/
	border: none;
	white-space: pre;
	font-style: normal;
	padding: 0px;
}

.uci-change-legend {
	padding: 5px;
}

.uci-change-legend-label {
	width: 150px;
	float: left;
}

.uci-change-legend-label>ins,
.uci-change-legend-label>del,
.uci-change-legend-label>var {
	float: left;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
	line-height: 6px;
	border: none;
}

.spin_wrapper #spin_bar
{
	width:200px;
	height:200px;
	margin-top:150px;
	margin-left:350px;
}
.spin_wrapper p
{
	text-align: center;
	padding-top:10px;
	font-size:14px;
}
