<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: applyreboot.htm 7773 2011-10-24 01:10:34Z jow $

-%>

<html>
	<head>
		<title><%=luci.sys.hostname()%> - <% if title then %><%=title%><% else %><%=translate("Rebooting...")%><% end %></title>
		<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css" />
		<script type="text/javascript" src="/luci-static/resources/spin.js"></script>
		<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
		<script type="text/javascript">//<![CDATA[
			var fCount = 0;
			var iDuration = 300;
			var iStep = 5;
			var fDiv = 100 / (iDuration / iStep);
			var sURL = <%="self.location.protocol + '//' + self.location.host"%>;
			var xURL = <%="self.location.protocol + '//192.168.0.1:8080'"%>;
			var zURL = <%=addrdef or 0%>;
			
			window.onload = StartUpdate;
			
			function StartUpdate() {
				XHR.poll(100, '<%=REQUEST_URI%>', { step: 3, keep_s: "<%=keep_s%>" },
				function(x, info) {
					XHR.halt();
					WaitForFinish();
				},
				15000
				);
			}
			
			function WaitForFinish() {
				var interval = window.setInterval(function() {
					var img = new Image();
					
					img.onload = function() {
						window.clearInterval(interval);
						UpdateMsg("bail");
					};
					
					UpdateMsg();
					img.src = sURL + "<%=resource%>" + "/icons/loading.gif?" + Math.random();
				}, iStep * 1000);
			}
			
			function UpdateMsg(sMode) {
				var objElm;
				
				if (typeof sMode == 'undefined' || sMode == "") {
					if (fCount < 100) {
						fCount = fCount + fDiv;
						if (objElm = document.getElementById("id_progress")) {
							if (fCount >= 100){
								if(zURL == 1){
									objElm.innerHTML = fCount.toFixed(0) + "% done. " + "<a href=" + xURL + ">Login</a>";
								}
								else{
									objElm.innerHTML = fCount.toFixed(0) + "% done. " + "<a href=" + sURL + ">Login</a>";
								}
							}
							else
								objElm.innerHTML = fCount.toFixed(0) + "% done";
						}
					}
				} else {
					var interval2 = window.setInterval(function() {
						if (fCount < 100) {
							fCount = fCount + fDiv;							
							if (objElm = document.getElementById("id_progress"))
								objElm.innerHTML = fCount.toFixed(0) + "% done";
						} else {
							window.clearInterval(interval2);
							location.href = sURL;
						}
					}, 100);
				}
			}
		//]]></script>
	</head>
	<body>
		<div id="maincontainer">
			<div id="maincontent">
				<h2><a id="content" name="content"><%:System%> - <% if title then %><%=title%><% else %><%:Rebooting...%><% end %></a> <span id="id_progress" style="color: green;">0% done</span></h2>
				<fieldset class="cbi-section">
					<p>
						<% if msg then %><%=msg%><% else %><%:Changes applied.%><% end %>
					</p>
						<div class="spin_wrapper">
							<div id="spinner"></div>
						</div>	
				</fieldset>
<%+footer%>
<script type="text/javascript">//<![CDATA[
	var apply_xhr = new XHR();

	var opts = {
		lines: 14, // The number of lines to draw
		length: 13, // The length of each line
		width: 5, // The line thickness
		radius: 17, // The radius of the inner circle
		rotate: 0, // The rotation offset
		color: '#000', // #rgb or #rrggbb
		speed: 1.7, // Rounds per second
		trail: 64, // Afterglow percentage
		shadow: false, // Whether to render a shadow
		hwaccel: true, // Whether to use hardware acceleration
		className: 'spinner', // The CSS class to assign to the spinner
		zIndex: 2e9, // The z-index (defaults to 2000000000)
		top: 50, // Top position relative to parent in px
		left: 'auto' // Left position relative to parent in px
	};
	var target = document.getElementById('spinner');

	var spinner = new Spinner(opts).spin(target);
//]]></script>
