<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: flashops.htm 7798 2011-10-26 23:43:04Z jow $

-%>

<%+header%>

<h2><a id="content" name="content"><%:Backup and Firmware%></a></h2>
<div class="cbi-map-descr">This page allows you to upgrade routers firmware. Also it lets you backup your configuration or reset it to factory defaults. </div>
<!--<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="#"><%:Actions%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/backupfiles"><%:Configuration%></a></li>
</ul>-->

<fieldset class="cbi-section">

	<fieldset class="cbi-section">
		

		<legend><%:Backup and reset configuration%></legend>
		<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
			<div class="cbi-section-descr"><!--<%:Click "Generate archive" to download a tar archive of the current configuration files. To reset the firmware to its initial state, click "Perform reset" (only possible with squashfs images).%>--></div>
			<div class="cbi-section-node">
				<div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
					<label class="cbi-value-title" for="image"><%:Backup archive%>:</label>
					<div class="cbi-value-field">
						<input class="cbi-button cbi-button-apply" type="submit" name="backup" value="<%:Download%>" />
					</div>
				</div>
				<% if reset_avail then %>
				<div class="cbi-value cbi-value-last">
					<label class="cbi-value-title"><%:Reset to defaults%>:</label>
					<div class="cbi-value-field">
						<input onclick="return confirm('<%:Really reset all changes?%>')" class="cbi-button cbi-button-reset" type="submit" name="reset" value="<%:Reset%>" />
					</div>
				</div>
				<% end %>
			</div>
			<br />
		<legend><%:Troubleshoot package%></legend>
		<br />
		<div class="cbi-section-descr">  </div>
		<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last">
					<label class="cbi-value-title" for="image"><%:Logging information and configuration%>:</label>
					<div class="cbi-value-field">
						<input class="cbi-button cbi-button-apply" type="submit" name="trouble_backup" value="<%:Download%>" />
					</div>
				</div>
		</div>
		<br />
		<legend><%:Restore configuration%></legend>
			<br />
			<div class="cbi-section-descr"><!--<%:To restore configuration files, you can upload a previously generated backup archive here.%>--></div>
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last">
					<label class="cbi-value-title" for="archive"><%:Restore backup%>:</label>
					<div class="cbi-value-field">
						<input type="file" name="archive" id="archive" /><br />
						<input type="submit" class="cbi-button cbi-input-apply" name="restore" value="<%:Upload archive%>" />
					</div>
				</div>
			</div>
		</form>
	</fieldset>

	<br />

	<fieldset class="cbi-section">
		<legend><%:Firmware upgrade%></legend>
		<% if upgrade_avail then %>
			<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
				<div class="cbi-section-descr"><!--<%:Warning: Upgrading firmware may take a few minutes. Do not turn off power or unplug the device during the firmware update, because it will result in permanent damage.%>--></div>
				<div class="cbi-section-node">
					<div class="cbi-value">
						<label class="cbi-value-title" for="keep"><%:Keep settings%>:</label>
						<div class="cbi-value-field">
							<input type="checkbox" name="keep" id="keep" checked="checked" />
						</div>
					</div>
					<div class="cbi-value cbi-value-last<% if image_invalid then %> cbi-value-error<% end %>">
						<label class="cbi-value-title" for="image"><%:Image%>:</label>
						<div class="cbi-value-field">
							<input type="file" name="image" id="image" /><br />
							<input type="submit" class="cbi-button cbi-button-apply" value="<%:Upgrade%>" />
						</div>
					</div>
				</div>
				<% if image_invalid then %>
					<div class="cbi-section-error"><%:The uploaded image file does not contain a supported format. %></div>
				<% end %>
			</form>
		<% else %>
			<div class="cbi-section-error"><%:Sorry, unknown error. %></div>
		<% end %>
	</fieldset>

</fieldset>

<%+footer%>
