<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: reboot.htm 5448 2009-10-31 15:54:11Z jow $

-%>
<%+header%>
<h3><%:Click to reboot%></h3>
<div class="cbi-section-descr"><!--<%:This button reboots the system.%>--></div>
<%-
local c = require("luci.model.uci").cursor():changes()
if c and next(c) and false then -- remove 'and false' if you want warning
-%>
	<p class="warning"><%:Warning: There are unsaved changes that will be lost while rebooting!%></p> 
<%-
end
if not reboot then 
-%>
<br />
<form method="post" action="<%=controller%>/admin/system/reboot?reboot=1" enctype="multipart/form-data">
<input class="cbi-button " type="submit" name="reboot" value="<%:Reboot%>" />
</form>
<%- else -%>
<p><%:Please wait: Device rebooting...%></p>
<script type="text/javascript">//<![CDATA[
	var interval = window.setInterval(function() {
		var img = new Image();
		var BaseURL = self.location.protocol + "//" + self.location.host;
		img.onload = function() {
			window.clearInterval(interval);
			location.href = BaseURL;
		};

		img.src = BaseURL + "<%=resource%>/icons/loading.gif?" + Math.random();
	}, 20000);
//]]></script>
<%- end -%>
<%+footer%>