<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2009 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: upgrade.htm 7798 2011-10-26 23:43:04Z jow $

-%>

<%+header%>

<%if checksum == "0\n" then%>
	<h2><a id="content" name="content">Firmware upgrade - <font color="red">verification failed</font></a></h2>
<%else %>
	<h2><a id="content" name="content">Firmware upgrade - <font color="green">verification succeeded</font></a></h2>
<%end%>

<p>
	<%if checksum == "0\n" then%>
		<%_ <b>MD5 verification failed. This means that flash image is either damaged or not compatible with this router.</b> <br />
		Ensure to get a correct flash image and try to upgrade again. %>
	<%else %>
		<%_ The flash image was uploaded and MD5 verification was succsessful. <b>This is the last chance to abort flashing if required.</b> <br />
		Click "Proceed" below to start the flash procedure. %>
	<%end%>

	<% if storage > 0 and size > storage and checksum ~= "0\n" then %>
		<br /><br />
		<div class="error"><%:It appears that you try to
			flash an image that does not fit into the flash memory, please verify
			the image file! %></div>
	<% end %>
</p>

<fieldset class="cbi-section">
	<ul>
		<li><%:Checksum%>: <code>
		<%if checksum == "0\n" then%>
			<%="n/a"%>
		<%else %>
			<%=checksum%>
		<%end%>
		
		</code></li>
		<li><%:Size%>: <%
			local w = require "luci.tools.webadmin"
			write(w.byte_format(size))

			if storage > 0 then
				write(luci.i18n.translatef(
					" (%s available)",
					w.byte_format(storage)
				))
			end
		%></li>
		<li><% if keep then %>
			<%:Configuration files will be kept.%>
		<% else %>
			<%:Note: Configuration files will be erased.%>
		<% end %></li>
	</ul>
</fieldset>

<div class="cbi-page-actions right">
	<form style="display:inline" action="<%=REQUEST_URI%>" method="post">
		<input class="cbi-button cbi-button-reset" type="submit" value="<%:Cancel%>" />
	</form>
	<form style="display:inline" action="<%=REQUEST_URI%>" method="post">
		<input type="hidden" name="step" value="2" />
		<input type="hidden" name="keep" value="<%=keep and "1" or ""%>" />
		<%if checksum ~= "0\n" then%>
			<input class="cbi-button cbi-button-apply" type="submit" value="<%:Proceed%>" />
		<%end%>
	</form>
</div>

<%+footer%>
