<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2011 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: index.htm 8408 2012-04-02 22:50:26Z jow $

-%>

<%+header%>

<h2><a id="content" name="content"><%=translate("Licensing information")%></a></h2>

<fieldset class="cbi-section">
<pre>

<font size="4">Open-Source Lizenzhinweise </font> 

Die MX Router Produktserie  beinhaltet unter anderem auch sogenannte Open-Source-Software, die von Dritten hergestellt und f&#252;r die freie Verwendung durch jedermann ver&#246;ffentlicht wurde. Die Open-Source-Software steht jeweils unter besonderen Open-Source-Softwarelizenzen und dem Urheberrecht Dritter. Die Rechte des Kunden, die Open-Source-Software zu verwenden, werden im Detail von dem jeweils betroffenen Open-Source-Softwarelizenzen geregelt. 

Die unter GNU General Public License (GPL) bzw. GNU Lesser General Public License (LGPL) stehende Open-Source-Software wird zur Verf&#252;gung gestellt und genutzt ohne jegliche Gew&#228;hrleistung oder Haftung der Programmierer, die die Software erstellt haben.  F&#252;r Details informieren Sie sich bitte in den jeweiligen Lizenzbestimmungen. 

Die Open-Source-Software finden Sie beim Download der Software im Zip-Archiv und beim Erwerb des Produktes auf dem jeweils mitgeliefertem USB-Stick. Im Verzeichnis "Lizenzen" stehen Ihnen die oben genannten Lizenzen direkt zur Verf&#252;gung. Im Verzeichnis "Sourcecode" finden Sie die entsprechenden Quellencode f&#252;r die Open-Source-Software, mit den jeweils f&#252;r die verschiedenen Softwareteile anwendbaren Lizenzen.

Es ist Ihnen gestattet, Softwarebestandteile f&#252;r Ihren eigenen Gebrauch zu bearbeiten und zur Behebung von Fehlern solcher Bearbeitungen zu reengineeren, sofern diese Softwarebestandteile mit Programmbibliotheken unter der LGPL verlinkt sind. Die Weitergabe der bei dem Reengineering gewonnen Informationen und der bearbeiteten Software ist hingegen nicht gestattet.

Soweit die Software der GPL, LGPL oder der Clarified Artistic License unterf&#228;llt oder es die Lizenzbestimmungen sonst vorschreiben, dass der Quellcode zur Verf&#252;gung zu stellen ist, so &#252;bersenden wir diesen jederzeit auf Nachfrage und machen insoweit ein bindendes Angebot. Sollte hierbei die Zusendung auf einem Datentr&#228;ger verlangt werden, so erfolgt die &#220;bersendung gegen Zahlung einer Kostenpauschale in H&#246;he von EUR 10,00. Sofern unsere Kosten f&#252;r die Erstellung und den Versand des Datentr&#228;gers geringer sein sollten, berechnen wir nur diesen geringeren Betrag.  

Unser Angebot, den Quellcode auf Nachfrage zu versenden gilt f&#252;r einen Zeitraum von drei Jahren nach dem Vertrieb des Produkts durch uns bzw. zumindest solange, wie wir Support und Ersatzteile f&#252;r das Produkt anbieten. Anfragen sind insoweit (m&#246;glichst unter Angabe der Seriennummer des erworbenen Produktes) an folgende Adresse zu senden:

mdex AG
Bäckerbarg 6
22889 Tangstedt
Telefax +49 4109 555 55
E-Mail: support@mdex.de

</pre>
</fieldset>

<%+footer%>
