<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: apply.htm 6816 2011-01-29 13:01:03Z soma $

-%>

<%+header%>

<h2><a id="content" name="content"><%:Applying configuration%></a></h2>
<% if changes then %>
	<%+cbi/apply_xhr%>
	<%+admin_uci/changelog%>
	<br /><br /><br />
	<%- cbi_apply_xhr('uci-apply', configs, luci.dispatcher.build_url("admin", "status", "sysinfo"), simple) -%>
	<br /><br /><br />
<% else %>
	<p><strong><%:There are no pending changes to apply!%></strong></p>
<% end %>

<%+footer%>
