<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<label class="cbi-value-title-2"<%= attr("for", cbid) %>><%:Role:-%></label>
	<select class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.role">
		<option value="<%:mdex%>"><%:mdex%></option>
		<option value="<%:client%>"><%:Client%></option>
		<option value="<%:server%>"><%:Server%></option>
	</select>
	<label class="cbi-value-title-2"<%= attr("for", cbid) %>><%:New configuration name:-%></label>
	<input type="text" class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.name" />
	<input class="cbi-button cbi-button-add" type="submit" value="<%:Add New%>" title="<%:Add New%>" />
	<% if self.invalid_cts then %><br /><%:Invalid%></div><% end %>
</div>
