<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2011 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: index.htm 8408 2012-04-02 22:50:26Z jow $

-%>

<%
	require "luci.fs"
	require "luci.tools.status"
	luci.util   = require "luci.util"

	local has_ipv6 = luci.fs.access("/proc/net/ipv6_route")
	local has_dhcp = luci.fs.access("/etc/config/dhcp")
	local has_wifi = luci.fs.stat("/etc/config/wireless")
	      has_wifi = has_wifi and has_wifi.size > 0
	local has_3g   = false
	local has_wimax= false
	local modelOverride = "MDEX MX510U"
	local moduleType = luci.util.trim(luci.sys.exec("uci get system.module.type"))

	if moduleType == "3g" or moduleType == "3g_ppp" then
		has_3g = true
	end
	if moduleType == "wimax" then
		has_wimax = true
	end

	if has_3g then
		modelOverride = "MDEX MX510"
	elseif has_wimax then
		modelOverride = "MDEX MX510"
	end
	
	if luci.http.formvalue("status") == "1" then
		local _, _, memtotal, memcached, membuffers, memfree = luci.sys.sysinfo()
		local rv = {
			uptime     = luci.sys.uptime(),
			localtime  = os.date(),
			loadavg    = { luci.sys.loadavg() },
			memtotal   = memtotal,
			memcached  = memcached,
			membuffers = membuffers,
			memfree    = memfree,
		}
		
		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end

	local system, model = luci.sys.sysinfo()
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	function progressbar(v, m)
	{
		var vn = parseInt(v) || 0;
		var mn = parseInt(m) || 100;
		var pc = Math.floor((100 / mn) * vn);

		return String.format(
			'<div style="width:200px; position:relative; border: 0px solid black; background-color:#e7ffce;">' +
				'<div style="background-color:#9dc2e2; width:%d%%; height:15px">' +
					'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#404040">' +
						'<small>%s / %s (%d%%)</small>' +
					'</div>' +
				'</div>' +
			'</div>', pc, v, m, pc
		);
	}

	var wifidevs = <%=luci.http.write_json(netdevs)%>;
	var arptable = <%=luci.http.write_json(arpcache)%>;

	
	
	
	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
		{

			if (e = document.getElementById('localtime'))
				e.innerHTML = info.localtime;

			if (e = document.getElementById('uptime'))
				e.innerHTML = String.format('%t', info.uptime);

			if (e = document.getElementById('loadavg'))
				e.innerHTML = String.format('%.02f, %.02f, %.02f',
					info.loadavg[0], info.loadavg[1], info.loadavg[2]);

			if (e = document.getElementById('memtotal'))
				e.innerHTML = progressbar(
					(info.memfree + info.membuffers + info.memcached) + " kB",
					info.memtotal + " kB"
				);

			if (e = document.getElementById('memfree'))
				e.innerHTML = progressbar(
					info.memfree + " kB", info.memtotal + " kB"
				);

			if (e = document.getElementById('memcache'))
				e.innerHTML = progressbar(
					info.memcached + " kB", info.memtotal + " kB"
				);

			if (e = document.getElementById('membuff'))
				e.innerHTML = progressbar(
					info.membuffers + " kB", info.memtotal + " kB"
				);

			if (e = document.getElementById('conns'))
				e.innerHTML = progressbar(info.conncount, info.connmax);
		}
	);
//]]></script>

<h2><a id="content" name="content"><%:System information%></a></h2>


<fieldset class="cbi-section">
	<legend><%:System%></legend>
	<table width="100%" cellspacing="10">
		<tr><td width="33%"><%:Router Name%></td><td>MDEX</td></tr>
		<tr><td width="33%"><%:Router Model%></td><td><%=pcdata(modelOverride or "?")%></td></tr>
		<tr><td width="33%"><%:Firmware Version%></td><td>
			<%=luci.sys.exec("cat /etc/version")%>
		</td></tr>
		<tr><td width="33%"><%:Kernel Version%></td><td><%=luci.sys.exec("uname -r")%></td></tr>
		<tr><td width="33%"><%:Local Time%></td><td id="localtime">-</td></tr>
		<tr><td width="33%"><%:Uptime%></td><td id="uptime">-</td></tr>
		<tr><td width="33%"><%:Load Average%></td><td id="loadavg">-</td></tr>
	</table>
</fieldset>

<fieldset class="cbi-section">
	<legend><%:Memory%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%"><%:Total Available%></td><td id="memtotal">-</td></tr>
		<tr><td width="33%"><%:Free%></td><td id="memfree">-</td></tr>
		<tr><td width="33%"><%:Cached%></td><td id="memcache">-</td></tr>
		<tr><td width="33%"><%:Buffered%></td><td id="membuff">-</td></tr>
	</table>
</fieldset>


<%+footer%>
