<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>
Copyright 2012 David Menting <david@nut-bolt.nl>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

-%>
<%
	local sys  = require "luci.sys"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local x = uci.cursor()

	local hostname = sys.hostname()

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end
    
    -- send as HTML5
	http.prepare_content("text/html")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end

	local function subtree(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then
        
            if level > 2 then
%>
	<ul class="tabs">
		<%  
            end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end
                if level > 2 then
		%>
			<li class="tabmenu-item-<%=v%><%- if nnode._menu_selected or (node.leaf and v == leaf) then -%>| active<% end %>">
			    <a href="<%=nodeurl(prefix, v, nnode.query)%>"><%=striptags(translate(nnode.title))%></a>
			</li>
		<%      end
			end
            
            if level > 2 then
		%>
	</ul>
<%          end

			if selected_node then
				subtree(prefix .. selected_name .. "/", selected_node, level + 1)
			end
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
 <head>
  <meta charset="utf-8">
  <title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - Web UI</title>
  <!--[if lt IE 9]><script src="<%=media%>/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="<%=media%>/cascade.css">
  <link rel="shortcut icon" href="<%=media%>/favicon.ico">
  <% if node and node.css then %><link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
  <% end -%>
  <script src="<%=resource%>/xhr.js"></script>
 </head>
 <body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %>">
  <header>
   <div class="fill">
    <div class="container">
     <img class="logo" src="/luci-static/resources/logo.png"></img>
     <a class="brand" href="#"></a>
     <ul class="nav">
	 <%-
		local function submenu(prefix, node)
			local childs = disp.node_childs(node)
			if #childs > 0 then
	 %>
	 <ul class="dropdown-menu">
			<%-
				for i, r in ipairs(childs) do
					local nnode = node.nodes[r]
					local href  = controller .. prefix .. r ..
						(nnode.query and http.build_querystring(nnode.query) or "")
			%>
	  <%- if nnode._menu_selected or (node.leaf and v == leaf) then -%> 
	  <li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
	  <%- elseif (luci.dispatcher.context.requestpath[3] ~= nil) and (luci.dispatcher.context.requestpath[3] == "wireless") and (striptags(translate(nnode.title)) == "Wireless") then -%>
	  <li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
	  <% else %>
	  <li><a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a></li>
	  <% end %>
			<%-
				end
			%>
	</ul>
	<%-
			end
		end

		childs = disp.node_childs(cattree)

		if #childs > 0 then
			for i, r in ipairs(childs) do
				local nnode = cattree.nodes[r]
				local href  = controller .. "/" .. category .. "/" .. r ..
					(nnode.query and http.build_querystring(k.query) or "")
                local grandchildren = disp.node_childs(nnode)
                
                if #grandchildren > 0 then
	%>
        <li class="dropdown">
		<a class="menu" ><%=pcdata(striptags(translate(nnode.title)))%></a>
<!--             <a class="menu" href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a> -->
            <%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
        </li>
	<%          else %>
         <li>
	        <a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
        </li> 
    <%
                end
			end
	%>
	
	<!-- expert mode -->
	<% local Mode = x:get("teltonika", "sys", "expert")
		local togle_url = luci.dispatcher.build_url("admin", "system", "expert") 
		if Mode == "on" or Mode == "off" then %>
			<li style="padding-left : 250px">
				<a href="<%=togle_url%>">Expert Mode: <%=Mode%></a>
			</li>
        <% end %>
    
    <%    
		end
	%>
	
		
	</ul>

	<%
        -- calculate the number of unsaved changes
		if tree.nodes[category] and tree.nodes[category].ucidata then
			local ucichanges = 0

			for i, j in pairs(require("luci.model.uci").cursor():changes()) do
				for k, l in pairs(j) do
					for m, n in pairs(l) do
						ucichanges = ucichanges + 1;
					end
				end
			end
	%>
	<% end %>
    </div>
   </div>
  </header>


<div id="maincontent" class="container">
<% if category then subtree("/" .. category .. "/", cattree) end %>
