<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2012 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: sysauth.htm 8327 2012-03-04 15:03:05Z jow $

-%>

<%
	require "luci.fs"
	require "luci.tools.status"
	luci.util   = require "luci.util"
	
	local SNMP_On = luci.util.trim(luci.sys.exec("uci get snmpd.@agent[0].enabled"))
	local moduleType = luci.util.trim(luci.sys.exec("uci get system.module.type"))
	local moduleDev = luci.util.trim(luci.sys.exec("uci get network.ppp.device"))
	local ntm = require "luci.model.network".init()
	local nw  = require "luci.model.network"
	
	if moduleDev == "/dev/ttyHS5" then
		moduleDev = false
	else
		moduleDev = true
	end
	
	if moduleType == "3g" then
		has_3g = true
	end
	
	if moduleType == "3g_ppp" then
		has_3g_ppp = true
	end
	
----------- 3G information gathering -------
	local gstate, gimei, gsigstr, goper, gctype, grecv, gsent, gpin, gsim
	
	if has_3g or has_3g_ppp then
		local data = nw:get3g_all_fast()
		if (data ~= nil) then
			gstate  = data["state"]
			gsigstr = data["signal"]
			gimei   = data["imei"]
			goper   = data["oper"]
			gctype  = data["ntype"]
			if gctype ~= nil then
				if gctype:match("^CDMA") or gctype:match("^EDGE") or gctype:match("^GPRS")
				then
					gctype = "2G " .. "(" .. gctype .. ")"
				elseif gctype:match("^WCDMA") or gctype:match("^HSDPA") or gctype:match("^HSUPA")
				then
					gctype = "3G " .. "(" .. gctype .. ")"
				end
			end
			grecv   = data["rxbytes"]
			gsent   = data["txbytes"]
			gsim    = data["simstate"]
			gpin    = data["pinstate"]
			if gsim ~= nil then
				if gsim:match("^inserted") and gpin ~= nil then
					if gpin:match("disabled") or gpin:match("READY")          
					then 
						gsim = "OK" 
					elseif gpin:match("not initialized")
					then 
						gsim = "Rejected"
						gsigstr = "N/A"
					elseif gpin:match("blocked") 
					then
						gsim = "PUK required. " .. data["pinuleft"] .. " attempts left."
						gsigstr = "N/A"
					elseif gpin:match("permanently blocked")   
					then 
						gsim = "Blocked"
						gsigstr = "N/A"
					elseif gpin:match("enabled, not verified")
					then 
						gsim = "PIN required. ".. data["pinrleft"] .. " attempts left."
						gsigstr = "N/A"
					elseif gpin:match("SIM PIN")
					then 
						gsim = "PIN required"
						gsigstr = "N/A"
					elseif gpin:match("SIM PUK")
					then 
						gsim = "PUK required"
						gsigstr = "N/A"
					elseif gpin:match("SIM PIN2")
					then 
						gsim = "PIN2 required"
						gsigstr = "N/A"
					elseif gpin:match("SIM PUK2")
					then 
						gsim = "PUK2 required"
						gsigstr = "N/A"
					elseif gpin:match("enabled, verified")
					then 
						gsim = "OK"
					elseif gpin:match("unknown")
					then 
						gsim = "SIM error"
						gsigstr = "N/A"
					end
				else
					gsim = "Not inserted"
					gsigstr = "N/A"
				end
			end
		end
	end

	local rv = {
		gstate     = gstate,
		gsigstr    = gsigstr,
		gimei      = gimei,
		goper      = goper,
		gctype     = gctype,
		grecv      = grecv,
		gsent      = gsent,
		gsim       = gsim
	}
		
-------------- SNMP information gathering ---
	if SNMP_On == "1" then
		local tableSNMP = nw:snmp_status_read()
		if tableSNMP and tableSNMP ~= nil then
			rv.snmp = {
				rscp		= tableSNMP["rscp"]
			}
		end
	end
%>

<%+header%>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
	<div class="cbi-map">
		<h2><a id="content" name="content"><%:Authorization Required%></a></h2>
		<div class="cbi-map-descr">
			<%:Please enter your username and password.%>
			<%- if fuser then %>
			<div class="alert-message error"><%:Invalid username and/or password! Please try again.%></div>
			<br />
			<% end -%>
		</div>
		<fieldset class="cbi-section"><fieldset class="cbi-section-node">
			<div class="cbi-value">
				<label class="cbi-value-title"><%:Username%></label>
				<div class="cbi-value-field">
					<input class="cbi-input-user" type="text" name="username" value="admin" />
				</div>
			</div>
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title"><%:Password%></label>
				<div class="cbi-value-field">
					<input id="focus_password" class="cbi-input-password" type="password" name="password" />
				</div>
			</div>
		</fieldset></fieldset>
	</div>

	<div>
		<input type="submit" value="<%:Login%>" class="cbi-button cbi-button-apply" />
		<input type="reset" value="<%:Reset%>" class="cbi-button cbi-button-reset" />
	</div>
</form>
<script type="text/javascript">//<![CDATA[
	var input = document.getElementById('focus_password');
	if (input)
		input.focus();
//]]></script>
	<% if has_3g or has_3g_ppp then %>
<div class="cbi-map-descr"></div>
<h2><a id="content" name="content"><%:Network information%></a></h2>
<fieldset class="cbi-section">
	<div id="g3BarsShow" class="overlayParent">
		<% local sStr = "/icons/signal-none.png"
			  local iNb = tonumber(rv.gsigstr)
			 if iNb ~= nil then
				if iNb == 0 then
					sStr = "/icons/signal-0.png"
				elseif iNb >= -60 then
					sStr = "/icons/signal-75-100.png"
				elseif iNb >= -78 then
					sStr = "/icons/signal-50-75.png"
				elseif iNb >= -90 then
					sStr = "/icons/signal-25-50.png"
				elseif iNb >= -105 then
					sStr = "/icons/signal-0-25.png"
				elseif iNb < -105 then
					sStr = "/icons/signal-0.png"
				end
			 end %>
		<div class="overlayLegend"><%:GPRS/UMTS%>&#160;&#160;<img id="3gBar0" style="visibility: visible" src="<%=resource..sStr%>" /></div> 
	</div>
	<table id="3gTable" width="100%" cellspacing="10">	
		<% sStr = "N/A"
			  if moduleDev == true then 
				if rv.gctype ~= nil and string.len(rv.gctype) > 0 then
					sStr = rv.gctype
				end %>
		<tr><td width="33%"><%:Connection type%></td><td id="3gCType"><%=sStr%></td></tr>
		<% end 
			 sStr = ""
			 if tonumber(rv.gsigstr) ~= nil then
				sStr = "dBm"
			end %>
		<tr><td width="33%"><%:Signal strength%></td><td id="3gStr"><%=rv.gsigstr.." "..sStr%></td></tr>
		<% if rv.gctype ~= nill and rv.gctype:match("^3G") and rv.snmp ~= nill and rv.snmp.rscp ~= nill then %>
		<tr><td width="33%"><%:RSCP%></td><td id="snmp_rscp"><%=rv.snmp.rscp%></td></tr>
		<% end %>
	</table>
</fieldset>
	<% end %>

<%+footer%>
