<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "network", "multiwan", "status")%>', null,
		function(x, st)
		{
			var tx = document.getElementById('multiwan_status_text');
			if (tx)
			{
				if (st && st.wans)
				{
					var temp = '';

					var activeConn = -1;
					
					if (st.wans.length >= 2) // should be a static 2
					{
						if (st.wans[0].status == 'ok')
						{
							if (st.wans[1].status == 'ok')
							{
								activeConn = 0;
							}
							else
							{
								activeConn = 0;
							}
						}
						else
						{
							if (st.wans[1].status == 'ok')
							{
								activeConn = 1;
							}
							else
							{
								activeConn = -1;
							}
						}
					}
					
					for( var i = 0; i < st.wans.length; i++ )
					{
						var stat = '<%:Unknown%>';
						var cssc = '';

						switch (st.wans[i].status)
						{
							case 'ok':
								if (activeConn == i)
								{
								stat = 'IN USE';
								cssc = 'inuse';
								}
								else
								{
								stat = 'READY';
								cssc = 'wanok';
								}
								break;

							case 'ko':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;

							case 'recovering':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;

							case 'failing':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;
						}
						net_name = st.wans[i].name;
						if (net_name == "wan")        net_name = "WAN"; 
						else if (net_name == "wan2")  net_name = "Backup WAN";

						name = st.wans[i].ifname;
						if (name == "usb0" || name == "3g-ppp")        name = "3G"; 
						else if (name == "eth0.2") name = "Wired"; 
						else if (name == "eth1" || name == "wm0")   name = "WiMAX";
						temp += String.format(
							'<span class="%s"><strong>%s: [%s]</strong> %s</span>',
								cssc, net_name, name, stat
						);
					}
					tx.innerHTML = temp;
				}
				else
				{
					tx.innerHTML = '<span class="wanko">WAN backup link is disabled</span>';
				}
			}
		}
	);
//]]></script>

<style type="text/css">
  .wanok { background-color: #E8F28D; }
  .wanko { background-color: #FCA57F; }
  .wanrecov { background-color: #D0E1EF; }
  .inuse { background-color: #ABEBAB; }
  .wanfail { background-color: #DDDDDD; }
  .wanko, .wanok, .wanrecov, .inuse, .wanfail {
	padding: 0.4em;
	margin: 0.4em;
  }
</style>

<fieldset class="cbi-section">
	<legend><%:Backup WAN Status%></legend>
	<div id="multiwan_status_text" style="text-align:center;"><em><%:Collecting data...%></em></div>
</fieldset>
